Repository drush-ops/drush, pull requests merged in 2020-04, with the labels that each got.

#4367 Update SecurityUpdateCommands.php
  src/Commands/pm/SecurityUpdateCommands.php
  tests/integration/SecurityUpdatesTest.php
Labels: good first issue, stat-needs-work

#3253 #3251: Add command to export .po files
  src/Drupal/Commands/core/LocaleCommands.php
  src/Exceptions/CommandFailedException.php
  tests/functional/LocaleTest.php
Labels: area-locale

#4387 Remove outdated todos from locale:update
  src/Drupal/Commands/core/LocaleCommands.php
Labels: area-locale

#4388 Replace deprecated core constant
  src/Drupal/Commands/core/LocaleCommands.php
Labels: area-locale

#4362 Drush 8 - PHP 7.4: Fix deprecation notices
  commands/core/rsync.core.inc
  commands/make/generate.make.inc
  commands/pm/info.pm.inc
  includes/command.inc
  includes/sitealias.inc
Labels: drush8

#4313 MySQL 8 support for drush8
  includes/dbtng.inc
Labels: area-sql, drush8
