Repository drush-ops/drush, pull requests merged in 2021-06, with the labels that each got.

#4766 Fix install link for drush 8.
  README.md
Labels: area-documentation, drush8

#4774 Fix warnings on migrate rollback
  src/Drupal/Commands/core/MigrateRunnerCommands.php
  src/Drupal/Migrate/MigrateExecutable.php
  tests/functional/WatchdogTailTest.php
  tests/integration/CustomLibraryCommandsAndGeneratorsTest.php
Labels: area-migrate, type-bug

#4778 Fix handling of missing source rows in migrate:import
  src/Drupal/Commands/core/MigrateRunnerCommands.php
  src/Drupal/Migrate/MigrateExecutable.php
  tests/functional/MigrateRunnerTest.php
Labels: area-migrate

#4779 Reduce the default number of fields on migrate:status
  src/Drupal/Commands/core/MigrateRunnerCommands.php
  tests/functional/MigrateRunnerTest.php
Labels: area-migrate

#4786 Remove broken 'more' usage in printFile
  src/Commands/DrushCommands.php
Labels: type-bug
