Repository drush-ops/drush, pull requests merged in 2021-09, with the labels that each got.

#4739 Add drush deploy:hook-skip (#4738)
  src/Drupal/Commands/core/DeployHookCommands.php
  tests/functional/DeployHookTest.php
Labels: stat-needs-work, area-deploy

#4824 fix: --format=json not being respected by pm:security
  src/Commands/pm/SecurityUpdateCommands.php
Labels: area-outputformat

#4833 The system_migrate_prepare_row() hook implementation not picked-up
  src/Drupal/Commands/core/MigrateRunnerCommands.php
  tests/functional/MigrateRunnerTest.php
Labels: type-bug, stat-ready-to-review, area-migrate
