Repository drush-ops/drush, pull requests merged in 2023-03, with the labels that each got.

#5409 Attributes - LocaleCommands
  src/Drupal/Commands/core/LocaleCommands.php
  tests/functional/LocaleTest.php
Labels: area-locale

#5484 Handle missing URI in Drush alias file generator
  src/Drupal/Commands/generate/Generators/Drush/DrushAliasFile.php
Labels: area-generate

#5483 Replace Assets class alias
  src/Drupal/Commands/generate/Generators/Drush/DrushCommandFile.php
  tests/fixtures/modules/woot/src/Generators/ExampleGenerator.php
Labels: area-generate

#5485 Add generator complete suggestions
  src/Drupal/Commands/generate/GenerateCommands.php
Labels: area-generate

#5203 Update queue:run to run garbage collection
  src/Drupal/Commands/core/QueueCommands.php
Labels: area-queue
